{% extends "base.html" %}
{% block title %}Couchs{% endblock %}
{% block content %}
<div class="row">
  <div class='col-md-10 col-md-offset-1'>
    <br>
    {% if places %}

    <br>
    <div class="panel panel-default">
      <div class="panel-heading">Mis Couchs</div>
      <table class='table'>
        <tr>
          <th></th>
          <th> titulo </th>
          <th> direccion </th>
          <th> ciudad </th>
          <th> provincia </th>
          <th> valoracion </th>
          
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
        {% for place in places %}
        {% if not place.deleted %}
        <tr>
          {% if place.gallery.photo_set.exists %}
          <td> <img class="thumbnail" src="{{ place.gallery.photo_set.first.photo.url }}" /> </td>
          {% else %}
          <td> <img class="thumbnail" src="/media/default-placeholder.png" /> </td>
          {% endif %}
          <td>{{ place.title }}</td>
          <td>{{ place.direction }}</td>
          <td>{{ place.city }}</td>
          <td>{{ place.province }}</td>
          <td>{{ place.score }}</td>
          <td><a type='button' href="{% url 'lodgment:detail' place.id %}">Ver</a></td>
          {% if user.is_authenticated %}
          {% if place.is_finished %}
          <td><span class="label label-warning"> hospedaje finalizado </span></td>      {% else %}
          <td><a type='button' href="{% url 'lodgment:edit_place' place.id %}">Editar</a></td>
          <td><a type='button' href="{% url 'lodgment:delete_lodgment' place.id %}">Borrar</a></td>
          {% endif %}
          
          {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
    <p>En este momento no hay inmuebles cargados.</p>
    {% endif %}
    </ br>
  </div>
  {% endblock %}
