{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Counchin{% endblock %}
{% block content %}
<div class="row">

          <div class='col-md-10 col-md-offset-1'>
                <form class="navbar-form navbar-left col-lg-6" action='{% url "lodgment:advance_query" %}' name='params'role="search">
                <div class="form-group">
                    {% csrf_token %}
                    {% crispy form %}
                  <input type='submit' value="Buscar" />
                </div>
              </form>
     </div>
  <div class='col-md-10 col-md-offset-1'>
    <br>
    {% if lodgments %}

    <br>
    <div class="panel panel-default">
      <div class="panel-heading">Hospedajes</div>
      <table class='table'>
        <tr>
          <th> </th>
          <th> Nombre </th>
          <th> Fecha de inicio </th>
          <th> Fecha de fin </th>
          <th> Puntaje </th>
          <th> Categoria </th>
          <th> Ciudad </th>
          <th> Provincia </th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
        {% for lodgment in lodgments %}
        <tr {% if lodgment.has_donation %}style='background-color:#ffebcd' {% endif %}>
          {% if lodgment.gallery.photo_set.all.exists %}
          <td> <img class="thumbnail" src="{{ lodgment.gallery.photo_set.first.photo.url }}" /> </td>
          {% else %}
          <td> <img class="thumbnail" src="/media/default-placeholder.png" /> </td>
          {% endif %}

          <td>{{ lodgment.name }}</td>
          <td>{{ lodgment.initial_date }}</td>
          <td>{{ lodgment.finish_date }}</td>
          <td>{{ lodgment.score|floatformat:"0" }}</td>
          <td>{{ lodgment.category }}</td>
          <td>{{ lodgment.city }}</td>
          <td>{{ lodgment.province }}</td>
          <td><a type='button' href='{% url "lodgment:detail_place" lodgment.id %}'>Ver</a></td>
          {% if user.is_authenticated %}
            {% if user == lodgment.user %}
              <td><a type='button' href='{% url "lodgment:edit_place" lodgment.id %}'>Editar</a></td>
              <td><a type='button' href='{% url "lodgment:delete_place" lodgment.id %}'>Borrar</a></td>
            {% else %}
            <td>     </td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
    <p>No se encontraron resultados.</p>
    {% endif %}
    </ br>
  </div>

  {% endblock %}
  {% block scripts %}
  <script>
  $(document).ready(function(){$('#link-search').addClass('hidden')});
  $(document).ready(function(){$('#simple-search').addClass('hidden')});
  </script>
  {% endblock %}
