{% extends "base.html" %}
{% block title %}Counchin{% endblock %}
{% block content %}
<div class="row">
  <div class='col-md-10 col-md-offset-1'>
    <br>
    {% if user.is_authenticated %}
    {% if estadias_sin_puntuar %}
    <div class="box box-default collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Usted tiene estadias sin puntuar</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">
        <table class="table">
        <tr>

          <th> Nombre del couch </th>
          <th> Fecha de inicio </th>
          <th> Fecha de fin </th>
          <th>  </th>
        </tr>
        {% for couch in estadias_sin_puntuar %}
        <tr>
          <td> {{ couch.couch.title }} </td>
          <td> {{ couch.initial_date }} </td>
          <td> {{ couch.finish_date }} </td>
          <td> <a class="btn btn-success" href="{% url 'lodgment:score_couch' request_id=couch.id %}"> puntuar </a> </td>
        </tr>
          {% endfor %}
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    
    {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
    {% if inquilinos_sin_puntuar %}
    <div class="box box-default collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Usted tiene inquilinos sin puntuar</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">
        <table class="table">
        <tr>

          <th> Nombre del couch </th>
          <th> Nombre del inquilino </th>
          <th> Fecha de inicio </th>
          <th> Fecha de fin </th>
          <th>  </th>
        </tr>
        {% for couch in inquilinos_sin_puntuar %}
        <tr>
          <td> {{ couch.couch.title }} </td>
          <td> {{ couch.author }} </td>
          <td> {{ couch.initial_date }} </td>
          <td> {{ couch.finish_date }} </td>
          <td> <a class="btn btn-success" href="{% url 'lodgment:score_host' request_id=couch.id %}"> puntuar </a> </td>
        </tr>
          {% endfor %}
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    
    {% endif %}
    {% endif %}

    {% if lodgments %}

    <br>
    <div class="panel panel-default">
      <div class="panel-heading">Hospedajes</div>
      <table class='table'>
        <tr>
          <th> </th>
          <th> Nombre </th>
          <th> Fecha de inicio </th>
          <th> Fecha de fin </th>
          <th> Puntaje </th>
          <th> Categoria </th>
          <th> Ciudad </th>
          <th> Provincia </th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
        {% for lodgment in lodgments %}
        {% if lodgment.have_space %}
        <tr {% if lodgment.has_donation %}style='background-color:#ffebcd' {% endif %}>
          {% if lodgment.gallery.photo_set.all.exists %}
          <td> <img class="thumbnail" src="{{ lodgment.gallery.photo_set.first.photo.url }}" /> </td>
          {% else %}
          <td> <img class="thumbnail" src="/media/default-placeholder.png" /> </td>
          {% endif %}
          <td>{{ lodgment.title }}</td>
          <td>{{ lodgment.initial_date }}</td>
          <td>{{ lodgment.finish_date }}</td>
          <td>{{ lodgment.score|floatformat:"0" }}</td>
          <td>{{ lodgment.category }}</td>
          <td>{{ lodgment.city }}</td>
          <td>{{ lodgment.province }}</td>
          <td><a type='button' href='{% url "lodgment:detail" lodgment.id %}'>Ver</a></td>
          {% if user.is_authenticated %}
            {% if user == lodgment.user%}
              <td><a type='button' href='{% url "lodgment:edit_place" lodgment.id %}'>Editar</a></td>
              <td><a type='button' href='{% url "lodgment:delete_lodgment" lodgment.id %}'>Borrar</a></td>
            {% else %}
            <td><a type='button' href='{% url 'lodgment:new_request' lodgment.id %}'>Solicitar</a></td>
            <td>    </td>
            {% endif %}
          {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
      </table>
    </div>
    {% else %}
    <p>En este momento no hay hospedajes disponibles.</p>
    {% endif %}
    </ br>
  </div>
  {% endblock %}
