{% extends "base.html" %}1
{% block title %}Counchin{% endblock %}
{% block content %}
<div class="row">
  <div class='col-md-10 col-md-offset-1'>
    <br>
    {% if couchs %}

    <br>
    <div class="panel panel-default">
      <div class="panel-heading">Hospedajes</div>
      <table class='table'>
        <tr>
          <th> </th>
          <th> Nombre </th>
          <th> Fecha de inicio </th>
          <th> Fecha de fin </th>
          <th> Puntaje </th>
          <th> Categoria </th>
          <th> Ciudad </th>
          <th> Provincia </th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
        {% for couch in couchs %}
        <tr {% if couch.has_donation %}style='background-color:#ffebcd' {% endif %}>
          {% if couch.gallery.photo_set.all.exists %}
          <td> <img class="thumbnail" src="{{ couch.gallery.photo_set.first.photo.url }}" /> </td>
          {% else %}
          <td> <img class="thumbnail" src="/media/default-placeholder.png" /> </td>
          {% endif %}
          <td>{{ couch.name }}</td>
          <td>{{ couch.initial_date }}</td>
          <td>{{ couch.finish_date }}</td>
          <td>{{ couch.score|floatformat:"0" }}</td>
          <td>{{ couch.category }}</td>
          <td>{{ couch.city }}</td>
          <td>{{ couch.province }}</td>
          <td><a type='button' href='{% url "lodgment:detail_place" couch.id %}'>Ver</a></td>
          {% if user.is_authenticated %}
            {% if user == couch.user %}
              <td><a type='button' href='{% url "lodgment:edit_place" couch.id %}'>Editar</a></td>
              <td><a type='button' href='{% url "lodgment:delete_place" couch.id %}'>Borrar</a></td>
            {% else %}
            <td>    </td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
    <p>En este momento no hay hospedajes disponibles.</p>
    {% endif %}
    </ br>
  </div>
  {% endblock %}
