{% extends "base.html" %}
{% block title %}Oficinas{% endblock %}
{% block content %}
<div class="row">
  <div class='col-md-10 col-md-offset-1'>
    <br>
    {% if lodgments %}

    <br>
    <div class="panel panel-default">
      <div class="panel-heading">Hospedajes</div>
      <table class='table'>
        <tr>
          <th> Fecha de inicio </th>
          <th> Fecha de fin </th>
          <th> Puntaje </th>
          <th> Categoria </th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
        {% for lodgment in lodgments %}
        <tr>
          <td>{{ lodgment.initial_date }}</td>
          <td>{{ lodgment.finish_date }}</td>
          <td>{{ lodgment.score }}</td>
          <td>{{ lodgment.category }}</td>
          <td><a type='button' href='{% url "lodgment:edit_lodgment" lodgment.id %}'>Editar</a></td>
          <td><a type='button' href='{% url "lodgment:detail" lodgment.id %}'>Ver</a></td>
          <td><a type='button' href='{% url "lodgment:delete_lodgment" lodgment.id %}'>Borrar</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
    <p>En este momento no hay hospedajes disponibles.</p>
    {% endif %}
    </ br>
  </div>
  {% endblock %}
